#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
}

.page-header {
  flex: 0 0 auto;
  text-align: center;
}

h1.page-header {
  padding: 1.5rem;
  marign: 0;
  margin-block-start: 0.2rem;
  margin-block-end: 0.2rem;
}
